.header-bg {
    height: 104px;
    background-color: #000000;
}

.FAQ-container {
    background-color: #3e3e3e;
    color: white;
}

.FAQ-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
}

.FAQ-title:hover {   
    transition: all 0.5s ease-in;
}

.FAQ-content {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    .FAQ-left {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        border-radius: 30px;
        transition: all 0.5s ease-in;

        .question
        .answer {
            display: flex;
            justify-content: flex-end;
            max-width: 50%;
            text-align: left;
        }


        
    }

    .FAQ-left:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .FAQ-right {
        padding: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 15px;
        border-radius: 30px;
        transition: all 0.5s ease-in;

        .question
        .answer {
            display: flex;
            justify-content: flex-end;
            max-width: 50%;
            text-align: right;
        }

    }

    .FAQ-right:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }

    h3 {
        color: #ff7006;
        margin-top: 0;
    }

    .answer {
        max-width: 80%;
    }

    .last-answer {
        padding: 0 0 40px 0;
    }
}



@media (min-width: 768px) {
    .header-bg {
        height: 130px;
        background-color: #000000;
    }

    .FAQ-title {
        font-size: 25px;
    }
}
