.header-bg {
   height: 104px;
   background-color: #000000;
}

.galery-container {
   background-color: #3e3e3e;
   min-height: 500px;


   h2 {
      margin: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      letter-spacing: 2px;
      font-size: 24px;
   }

   .galery {
      max-width: 90vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .comedy,
   .dance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .comedy-title,
      .dance-title {
         width: 100%;
         color: white;
      }

      .comedy-galery,
      .dance-galery {
         display: flex;
         flex-wrap: wrap;
         justify-content: space-evenly;

         img {
            margin: 5px 0 2vh 0;
            width: 40vw;
            height: 30vw;
            object-fit: cover;
            transition: all 0.5s ease-in;
         }

         img:hover {
            width: 85vw;
            height: 65vw;
            box-shadow: 1px 1px 10px #000;
         }
      }
   }
}


@media (min-width: 768px) {
   .header-bg {
      height: 130px;
      background-color: #000000;
   }

   .galery-container {
      h2 {
         font-size: 37.5px;
      }
   }

   .comedy-galery,
   .dance-galery {

      img {
         width: 20vw!important;
         height: 15vw!important; 
         cursor: pointer;
      }
   }

   .comedy-title{
      margin-top: 50px;
   }

  
}